include ChangeLog
include README.md
include COPYING.LGPLv2.1
include conf/*.conf
include conf/*.example
include conf/groups.d/README
include conf/groups.d/*.cfg
include conf/groups.d/*.example
include conf/groups.conf.d/README
include conf/groups.conf.d/*.example
include doc/txt/README
include doc/txt/*.txt
include doc/txt/*.rst
include doc/man/man1/*.1
include doc/man/man5/*.5
include doc/sphinx/Makefile
include doc/sphinx/conf.py
include doc/sphinx/*.png
include doc/sphinx/*.rst
include doc/sphinx/_static/*.png
include doc/sphinx/_static/*.css
include doc/sphinx/tools/*.rst
include doc/sphinx/guide/*.rst
include doc/sphinx/api/*.rst
include doc/sphinx/api/workers/*.rst
include doc/extras/vim/syntax/*.vim
include doc/extras/vim/ftdetect/*.vim
include doc/examples/*.py
include doc/examples/defaults.conf-rsh
include doc/epydoc/*.conf
include tests/*.py
