[project]
	description = Scalable cluster administration Python framework. Manage nD node sets, node groups and execute commands on cluster nodes in parallel.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group clustershell-admins
	owner = group user/Stephane Thiell (thiell)
[access "refs/for/refs/*"]
	read = group clustershell-admins
	read = group user/Stephane Thiell (thiell)
	push = group clustershell-admins
	push = group user/Stephane Thiell (thiell)
	label-Code-Review = -2..+2 group clustershell-admins
	label-Code-Review = -2..+2 group user/Stephane Thiell (thiell)
	label-Verified = -1..+1 group clustershell-admins
	rebase = group clustershell-admins
	rebase = group user/Stephane Thiell (thiell)
	removeReviewer = group clustershell-admins
	removeReviewer = group user/Stephane Thiell (thiell)
	submit = group clustershell-admins
	submit = group user/Stephane Thiell (thiell)
[access "refs/heads/*"]
	read = group clustershell-admins
	read = group user/Stephane Thiell (thiell)
	create = group clustershell-admins
	create = group user/Stephane Thiell (thiell)
	push = +force group clustershell-admins
	push = +force group user/Stephane Thiell (thiell)
	pushMerge = group clustershell-admins
	pushMerge = group user/Stephane Thiell (thiell)
	exclusiveGroupPermissions = label-Code-Review label-Verified
	label-Code-Review = -2..+2 group clustershell-admins
	label-Verified = -1..+1 group clustershell-jenkins
[access "refs/tags/*"]
	push = group clustershell-admins
	push = +force group user/Stephane Thiell (thiell)
	pushTag = group clustershell-admins
	pushTag = group user/Stephane Thiell (thiell)
	pushSignedTag = group clustershell-admins
	pushSignedTag = group user/Stephane Thiell (thiell)
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
