[project]
	description = Scalable cluster administration Python framework. Manage nD node sets, node groups and execute commands on cluster nodes in parallel.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thiell
[access "refs/for/refs/*"]
	read = group user/thiell
	push = group user/thiell
	label-Code-Review = -2..+2 group user/thiell
	label-Verified = -1..+1 group user/thiell
	rebase = group user/thiell
	removeReviewer = group user/thiell
	submit = group user/thiell
[access "refs/heads/*"]
	read = group user/thiell
	create = group user/thiell
	push = +force group user/thiell
	pushMerge = group user/thiell
[access "refs/tags/*"]
	push = +force group user/thiell
	pushTag = group user/thiell
	pushSignedTag = group user/thiell
[receive]
	requireChangeId = true
