[project]
	description = Scalable cluster administration Python framework. Manage nD node sets, node groups and execute commands on cluster nodes in parallel.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephane Thiell (thiell)
[access "refs/for/refs/*"]
	read = group user/Stephane Thiell (thiell)
	push = group user/Stephane Thiell (thiell)
	label-Code-Review = -2..+2 group user/Stephane Thiell (thiell)
	label-Verified = -1..+1 group user/Stephane Thiell (thiell)
        label-Verified = -1..+1 group user/CS Jenkins Agent (stephanethiell)
	rebase = group user/Stephane Thiell (thiell)
	removeReviewer = group user/Stephane Thiell (thiell)
	submit = group user/Stephane Thiell (thiell)
[access "refs/heads/*"]
	read = group user/Stephane Thiell (thiell)
	create = group user/Stephane Thiell (thiell)
	push = +force group user/Stephane Thiell (thiell)
	pushMerge = group user/Stephane Thiell (thiell)
[access "refs/tags/*"]
	push = +force group user/Stephane Thiell (thiell)
	pushTag = group user/Stephane Thiell (thiell)
	pushSignedTag = group user/Stephane Thiell (thiell)
[receive]
	requireChangeId = true
