# Additional ClusterShell group source config file
#
# Please see `man 5 groups.conf` for further details.
#

# SLURM partition bindings
#
[slurm]
map: sinfo -h -o "%N" -p $GROUP
all: sinfo -h -o "%N"
list: sinfo -h -o "%R"
reverse: sinfo -h -N -o "%R" -n $NODE

# SLURM state bindings
#
[slurmstate]
map: if [ "$GROUP" == "broken" ]; then sinfo -h -o "%N" -t down,drained; else sinfo -h -o "%N" -t $GROUP; fi
all: sinfo -h -o "%N"
list: sinfo -h -o "%T"
reverse: sinfo -h -N -o "%T" -n $NODE
cache_time: 300
