# Additional ClusterShell group source config file
#
# Please see `man 5 groups.conf` for further details.
#

#
# SLURM partition bindings
#
[slurmpart,sp]
map: sinfo -h -o "%N" -p $GROUP
all: sinfo -h -o "%N"
list: sinfo -h -o "%P" | sed 's/[*$]//g'
reverse: sinfo -h -N -o "%R" -n $NODE

#
# SLURM state bindings
#
[slurmstate,st]
map: sinfo -h -o "%N" -t $GROUP
all: sinfo -h -o "%N"
list: sinfo -h -o "%T" | sed 's/[*$]//g'
reverse: sinfo -h -N -o "%T" -n $NODE | sed 's/[*$]//g'
cache_time: 60

#
# SLURM job bindings
#
[slurmjob,sj]
map: squeue -j $GROUP -h -o "%N"
list: squeue -h -o "%i" -t R
reverse: squeue -w $NODE -h -o "%i"
cache_time: 60
